moria2/modules/moria-web/src/wsdl/MoriaAuthentication.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id$ -->

<definitions name="MoriaAuthentication"
             targetNamespace="https://login.feide.no/moria/1.0/Authentication"
             xmlns:tns="https://login.feide.no/moria/1.0/Authentication"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <types>
    <schema targetNamespace="https://login.feide.no/moria/1.0/Authentication"
            xmlns:tns="https://login.feide.no/moria/1.0/Authentication"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns="http://www.w3.org/2001/XMLSchema">

      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType name="ArrayOfAttribute">
        <complexContent>
          <restriction base="soap-enc:Array">
            <attribute ref="soap-enc:arrayType" wsdl:arrayType="tns:Attribute[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="Attribute">
        <sequence>
          <element name="name" type="string"/>
          <element name="values" type="tns:ArrayOfstring"/>
        </sequence>
      </complexType>

      <complexType name="ArrayOfstring">
        <complexContent>
          <restriction base="soap-enc:Array">
            <attribute ref="soap-enc:arrayType" wsdl:arrayType="string[]"/>
          </restriction>
        </complexContent>
      </complexType>

    </schema>
  </types>

  <message name="initiateMoriaAuthenticationIn">
    <part name="attributes" type="tns:ArrayOfstring"/>
    <part name="returnURLPrefix" type="xsd:string"/>
    <part name="returnURLPostfix" type="xsd:string"/>
    <part name="forceInteractiveAuthentication" type="xsd:boolean"/>
  </message>

  <message name="initiateMoriaAuthenticationOut">
    <part name="result" type="xsd:string"/>
  </message>

  <message name="getUserAttributesIn">
    <part name="ticketId" type="xsd:string"/>
  </message>

  <message name="getUserAttributesOut">
    <part name="result" type="tns:ArrayOfAttribute"/>
  </message>

  <message name="directNonInteractiveAuthenticationIn">
    <part name="attributes" type="tns:ArrayOfstring"/>
    <part name="username" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
  </message>

  <message name="directNonInteractiveAuthenticationOut">
    <part name="result" type="xsd:string"/>
  </message>

  <message name="verifyUserExistenceIn">
    <part name="username" type="xsd:string"/>
  </message>

  <message name="verifyUserExistenceOut">
    <part name="result" type="xsd:boolean"/>
  </message>

  <message name="verifyGroupExistenceIn">
    <part name="groupname" type="xsd:string"/>
  </message>

  <message name="verifyGroupExistenceOut">
    <part name="result" type="xsd:boolean"/>
  </message>

  <portType name="MoriaAuthenticationIF">

    <operation name="initiateMoriaAuthentication"
               parameterOrder="attributes returnURLPrefix returnURLPostfix forceInteractiveAuthentication">
      <input message="tns:initiateMoriaAuthenticationIn"/>
      <output message="tns:initiateMoriaAuthenticationOut"/>
    </operation>

    <operation name="getUserAttributes" parameterOrder="ticketId">
      <input message="tns:getUserAttributesIn"/>
      <output message="tns:getUserAttributesOut"/>
    </operation>

    <operation name="directNonInteraciveAuthentication" parameterOrder="attributes username password">
      <input message="tns:directNonInteraciveAuthentication"/>
      <output message="tns:directNonInteraciveAuthentication"/>
    </operation>

    <operation name="verifyUserExistence" parameterOrder="username">
      <input message="tns:verifyUserExistenceIn"/>
      <output message="tns:verifyUserExistenceOut"/>
    </operation>

    <operation name="verifyGroupExistence" parameterOrder="groupname">
      <input message="tns:verifyGroupExistenceIn"/>
      <output message="tns:verifyGroupExistenceOut"/>
    </operation>

  </portType>

  <binding name="MoriaAuthenticationIFBinding" type="tns:MoriaAuthenticationIF">

    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>

    <operation name="initiateMoriaAuthentication">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </output>
      <soap:operation soapAction=""/>
    </operation>

    <operation name="getUserAttributes">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </output>
      <soap:operation soapAction=""/>
    </operation>

     <operation name="directNonInteractiveAuthentication">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </output>
      <soap:operation soapAction=""/>
    </operation>

    <operation name="verifyUserExistence">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </output>
      <soap:operation soapAction=""/>
    </operation>

    <operation name="verifyGroupExistence">
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   use="encoded"
                   namespace="https://login.feide.no/moria/1.0/Authentication"/>
      </output>
      <soap:operation soapAction=""/>
    </operation>

  </binding>

  <service name="MoriaAuthentication">
    <port name="MoriaAuthenticationIFPort" binding="tns:MoriaAuthenticationIFBinding">
      <soap:address location="https://login.feide.no/moria/1.0/Authentication"/>
    </port>
  </service>

</definitions>
